@import './variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-color;
  font-family: $dosis;
  line-height: 1.5;
}

.my-button {
  font-size: x-large;
  font-weight: bold;
}