@import '../../variables.scss';

.carousel-container {
  position: relative;
  padding: 0;
  overflow: hidden;

  button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 45%;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    color: rgb(90, 90, 90);
    z-index: 5;
    &:hover {
      color: white;
    }
  }

  .left {
    left: 2rem;
  }

  .right {
    right: 2rem;
  }

  .carousel-content {
    --items-per-screen: 4;
    --added-Width: 0;
    display: flex;
    transform: translateX(var(--added-Width));
    transition: transform 250ms ease-in-out;
    height: fit-content;

    .card-wrapper {
      flex: 0 0 calc(100% / var(--items-per-screen));
    }

    @media only screen and (max-width: 600px) {
      --items-per-screen: 2;
    }

    @media only screen and (max-width: 800px) and (min-width: 601px) {
      --items-per-screen: 3;
    }

    @media only screen and (max-width: 1200px) and (min-width: 801px) {
      --items-per-screen: 4;
    }

    @media only screen and (max-width: 1500px) and (min-width: 1201px) {
      --items-per-screen: 5;
    }

    @media only screen and (max-width: 1900px) and (min-width: 1501px) {
      --items-per-screen: 6;
    }
  }
}