@import '../../variables.scss';

.card-container {
  padding: 0 0.7rem;
  width: 20%;

  .card {
    position: relative;
    padding: 0;
    border: solid black 0.5px;
    overflow: hidden;

    .secondary.active {
      position: absolute;
      right: 2px;
      top: 2px;
      width: fit-content;
      background-color: transparent;
      border: none;
      z-index: 5;

      &:hover {
        background-color: transparent;
      };

      .button-icon {
        font-size: 1.5rem;
        color: black;
        &:hover {
          cursor: pointer;
          color: white;
        }
      };

    };

    .product-image {
      display: flex;
      height: 280px;
      overflow: hidden;

      img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%
      }

      .no-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: rgb(235, 235, 235);

        .no-image-icon {
          font-size: 5rem;
          color: rgb(109, 109, 109);
        }

        .no-image-text {
          font-size: 1.5rem;
          color: rgb(139, 139, 139);
        }
      }
    }

    .product-detail {
      padding: 0.5rem;
      height: fit-content;

      .title {
        font-size: 0.9rem;
        color: rgb(85, 85, 85);
      };

      .product-name {
        font-weight: bold;
      };

      .product-price {
        font-size: 0.9rem;
        color:rgb(85, 85, 85);
        padding-bottom: 0.3rem;
      }
    }
  }

  .add-product {
    border: solid black 0.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 394px;
    background-color: rgb(235, 235, 235);
    color: rgb(139, 139, 139);

    .add-sign {
      font-size: 4rem;
      padding: 0.5rem;
    }

    .text {
      font-size: 1.4rem;
    }
  }
}
