.card-container {
  padding: 0 0.7rem;
  width: 250px;
}

.card {
  position: relative;
  padding: 0;
  border: solid black 0.5px;
  overflow: hidden;
  .secondary.active {
    position: absolute;
    right: 2px;
    top: 2px;
    width: fit-content;
    background-color: transparent;
    border: none;
    z-index: 5;
    &:hover {
      background-color: transparent;
    };
    .button-icon {
      font-size: 1.5rem;
      color: black;
      &:hover {
        cursor: pointer;
        // color: #f8ce0b;
        color: white;
      }
    }
  };
  .product-image {
    display: flex;
    height: 320px;
    overflow: hidden;
    img {
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%
    }
  }
  .product-detail {
    padding: 0.5rem;
    .title {
      font-size: 0.8rem;
      color: rgb(85, 85, 85);
    };
    .product-name {
      font-weight: bold;
      font-size: 0.9rem;
    };
    .product-price {
      font-size: 0.7rem;
      color:rgb(85, 85, 85);
    }
  }
}