.character-bar-container {
  display: flex;
      width: 300px;
      margin-bottom: 5px;
      gap: 5px;
}
.character-bar-traits {
  display: flex;
      width: 300px;
}
.comfort-bar {
  margin-top: 3px;
  background-color:rgb(59, 56, 56);
  opacity: 0.4;
  z-index: -1;
  width: 100px;
  height: 10px;
}
.comfort-triangle{
  position:absolute;
  font-size: 1.1em;
  height: 10px;
  transform: rotate(180deg);
  margin-top: 9px;

}
.comfort-trait-left {
  display: flex;
  justify-content: flex-start;
  width: 100px;
  font-size: .7rem;
}
.comfort-trait-left {
  display: flex;
  justify-content: center;
  width: 100px;
  font-size: .7rem;
}
.comfort-trait-left {
  display: flex;
      justify-content: flex-end;
      width: 100px;
      font-size: .7rem;
}