.comfort-bar-container {
  display: flex;
  width: 300px;
  margin-bottom: 5px;
  gap: 5px;
}
.comfort-bar-traits {
  display: flex;
  width: 300px;
}
.comfort-bar {
  background-color: #bbb;
  flex-direction: row;
  height: 7px;
  margin: 5px 5px 5px 5px;
  flex:1;
  z-index: 1;
}
.comfort-triangle{
  position:absolute;
  font-size: 1.1em;
  height: 10px;
  transform: rotate(180deg);
  margin-top: 9px;
  color: rgb(23, 22, 22)

}
.comfort-trait-left {
  display: flex;
  justify-content: flex-start;
  width: 100px;
  font-size: .7rem;
}
.comfort-trait-left {
  display: flex;
  justify-content: center;
  width: 100px;
  font-size: .7rem;
}
.comfort-trait-left {
  display: flex;
      justify-content: flex-end;
      width: 100px;
      font-size: .7rem;
}