.star-bar-container {

  display: flex;
  flex-direction: column;
}
.star-filter-tags {
  background-color: rgb(173, 176, 173);
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  min-height: 50px;

  .big-tag {
    // border: 2px solid blue;
    // height: auto;
    // width: auto;
    transform: scale(2);
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .big-tag:hover {
    color: rgb(105, 99, 99);
  }

  .tag-filters {
    display: flex;

    .tag-container:hover {
      cursor: pointer;
      color: rgb(209, 209, 174);
    }

    .small-tag {
      // border: 1.5px solid red;
      margin-left: 15px;
      margin-right: 17px;
      .tag {
        position: absolute;
        transform: scale(2.2, 2) rotate(-45deg);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .text {
        // border: 1px solid yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-size: 0.8rem;
        translate: 2px 1px;

        .text-star {
          font-size: 0.5rem;
          translate: 0px 0.5px;
        }
      }
    }
  }
}