.overview-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.gallery-container {
  height: 100%;
  position: relative;
}
.thumbnails-container {
  position: relative;
  top: 10px;
  left: 10px;
}

.carousel-left {
  position: absolute;
  top: 50%;
  transform: translate(100px,-50%);
  height: 30px;
  width: 30px;
  z-index: 1;
  cursor: pointer;
  left: 20px;
}
.carousel-right {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  height: 30px;
  width: 30px;
  z-index: 1;
  cursor: pointer;
  right: 20px;
}
.carousel-up {
  position: relative;
  left: 3%;
  height: 30px;
  width: 30px;
  z-index: 1;
  cursor: pointer;
  right: 20px;
}
.carousel-down {
  position: relative;
  left: 3%;
  height: 30px;
  width: 30px;
  z-index: 1;
  cursor: pointer;
  // right: 20px;

}

.thumbnail {
  display: block;
  height:70px;
  width: 70px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0 5px;
  cursor: pointer;
}
.selected-thumbnail {
  display: block;
  height:70px;
  width: 70px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0 5px;
  cursor: pointer;
  border-style: solid;
  border-width: 10px;
  border-color: pink;
}

.style-text {
  display: inline;
}
.style-icons {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}
.style-icon {
  height: 100px;
  width: 100px;
  padding: 10px;
  border-radius: 50%;
  object-fit: cover;
}
.size-selection {
  height: 60px;
  width: 250px;
  margin-right: 20px;
}
.quantity-selection {
  height: 60px;
  width: 150px;
}

.cart-top {
  margin-bottom: 10px;
}
.addto-bag {
  height: 60px;
  width: 300px;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  background-color: white;
  margin-right: 10px;
}

.save {
  height: 60px;
  width: 60px;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  background-color: white;
}
.check-mark {
  left: -50px;
}

.product-info {
  display: inline;
}

.read-reviews {
  text-decoration: underline;
  cursor: pointer;
  display: inline;
}
.overview-rating {
  display: inline;
}

.product-category,
.product-name,
.price {
  display: block;
}