.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  width: 2px;
}

.custom-file-input::before {
  content: 'UPLOAD IMAGE';
  display: inline-block;
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 7px 35px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 0.8rem;
}

.custom-file-input:hover::before {
  opacity: 0.96;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}