@import '../../../variables.scss';

.photosWrapper{
  font-family: $montserrat;
  font-size: 1rem;
  .primary.add-image {
    margin-top: 0.5rem;
    transform: scale(0.8);
    width: 3rem;
  };

  .upload-image-urls {
    margin: 1rem 0;
    display: inline-block;

    & > * {
      margin-right: 2rem;
      margin-bottom: 1rem;
    }

    & > :last-child {
      margin-bottom: unset;
    }
  }
}