.all-reviews {
  width: 100%;
}

.review-container {
  text-align:left;
  overflow-y: scroll;
  max-height: 50vh;
}

.review-sort {
  font-weight: bold;
  font-size: 1rem;
  padding-bottom: 1rem;

  & > :first-child {
    margin-left: unset;
  };

  select {
    margin-left: .2rem;
    height: 1.3rem;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: solid black 2px;
    width: fit-content;
    font-size: inherit;
    font-weight: bold;
    outline: none;
  }
}

.sort-option {
  width: 70px;
  height: 35px;
  text-align: center;
}

.secondary.review {
  width: 200px;
  height: 25px;
  text-align: center;
  padding-top: .2rem;
  padding-bottom: .2rem;
  padding-right: .01rem;
  padding-left: .002;
}

.review-list-buttons {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 3rem;
  gap: 1rem;

  .secondary {
    height: auto;
    transform: scale(0.9);
  }
}